.World_App {
  height: 60em;
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 80% 80%, hsla(225, 39%, 25%, 1) 0, transparent 20%),
    radial-gradient(at 80% 10%, hsla(225, 39%, 25%, 1) 0, transparent 20%),
    radial-gradient(at 10% 10%, hsla(339, 49%, 30%, 1) 0, transparent 30%),
    radial-gradient(at 10% 90%, hsla(339, 49%, 30%, 1) 0, transparent 20%),
    radial-gradient(at 60% 55%, rgb(148, 73, 99) 0, transparent 30%);
  .Map_container {
    background-color: #0f0e13;
    background-image: radial-gradient(
        at 0% 0%,
        hsla(253, 16%, 7%, 1) 0,
        transparent 50%
      ),
      radial-gradient(at 80% 80%, hsla(225, 39%, 25%, 1) 0, transparent 20%),
      radial-gradient(at 80% 10%, hsla(225, 39%, 25%, 1) 0, transparent 20%),
      radial-gradient(at 10% 10%, hsla(339, 49%, 30%, 1) 0, transparent 30%),
      radial-gradient(at 10% 90%, hsla(339, 49%, 30%, 1) 0, transparent 20%),
      radial-gradient(at 60% 55%, rgb(148, 73, 99) 0, transparent 30%);
    color: #fff;
    display: inline-block;
  }

  .Map_App {
    background-color: #513e3e;
    background-image: radial-gradient(
        at 30% 30%,
        hsla(225, 39%, 30%, 1) 0,
        transparent 50%
      ),
      radial-gradient(at 80% 80%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
    margin: 3.5%;
    float: left;
    padding: 3%;
    border-radius: 40px 80px / 80px 40px;
    box-shadow: 5px 5px 5px 5px black;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }

    .Map_img {
      background-color: red;
      width: 200px;
      height: 250px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .Map_Text {
      white-space: nowrap;
      .Map_name {
        display: flex;
        align-items: center;
        margin-top: 3px;
      }
      .Map_topography {
        display: flex;
        align-items: center;
        margin-top: 3px;
      }

      .Map_Token {
        display: flex;
        align-items: center;
        margin-top: 3px;
      }

      .Map_Owner {
        display: flex;
        align-items: center;
        margin-top: 3px;
      }
      h4 {
        font-weight: 800;

        margin: 5px 10px 5px 0px;
        background: linear-gradient(to right, #fbcac9, #8ca6ce);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      font-weight: 400;
    }
  }
}

.Loading {
  position: absolute;
  top: 40%;
  left: 40%;
}
