.detail_wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  .img {
    position: absolute;
    opacity: 1;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  .detail_box {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    z-index: 999;
    margin-top: 50px;
    padding: 20px;

    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    .state01 {
      padding: 50px;
      margin-bottom: 20px;
      width: max-content;
      background-color: #120907;
      border-radius: 20px;
      box-shadow: 2px 2px 2px 2px black;
      span {
        color: #fff;
      }
    }

    .state02 {
      padding: 50px;
      width: max-content;
      background-color: #8d743f;
      border-radius: 20px;
      box-shadow: 2px 2px 2px 2px black;
    }
  }
  .Attack_div {
    margin-top: 20px;

    input {
      width: max-content;
    }

    .Attack_button {
      &:hover {
        transform: scale(1.1);
        transition: 0.5s;
      }
      background: #1a488d;
      width: max-content;
      margin-left: 50px;
      padding: 20px;
      box-shadow: 1px 1px 1px 1px black;
      font-size: 20px;
      font-weight: 800;
    }
  }
}
