.NFTList {
  width: 20%;
  height: 100%;
  margin: 2%;
  box-shadow: 1px 1px 1px 1px black;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 80% 80%, hsla(225, 39%, 25%, 1) 0, transparent 20%),
    radial-gradient(at 80% 10%, hsla(225, 39%, 25%, 1) 0, transparent 20%),
    radial-gradient(at 10% 10%, hsla(339, 49%, 30%, 1) 0, transparent 30%),
    radial-gradient(at 10% 90%, hsla(339, 49%, 30%, 1) 0, transparent 20%),
    radial-gradient(at 60% 55%, rgb(148, 73, 99) 0, transparent 30%);
  &:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  .NFTList_app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .NFT_img {
      margin: 10px;
      background: red;
      width: 30%;
      height: 50%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
