.NavBar_app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  width: 100%;
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);

  .NavBar_title {
    margin-left: 10%;

    img {
      display: flex;
      align-items: center;
      width: 60%;
    }
  }
  .NavBar_ul {
    list-style: none;
    display: flex;
    margin-right: 50%;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    li {
      margin-left: 10%;
      margin-right: 10%;
      cursor: pointer;
    }
  }
}

.menu-item {
  color: #fff;
  margin-right: 10%;
}
